<div>
  Channels:
  <div *ngFor="let gainNode of gainNodes | async; let index = index">
    <label>{{index}}</label>
    <input
      type="range"
      min="0"
      max="10"
      value="5"
      (change)="setGain(gainNode, $event.target.value)"
    />
  </div>
  Seek:
  <mat-slider class="player__seek" [max]="durationSeconds | async" [value]="currentTimeSeconds"
              (change)="changeTime($event.value)"></mat-slider>

  <button (click)="play()">Play</button>
  <button (click)="stop()">Stop</button>
</div>
